main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.questions_container,
.question {
  width: 900px;
  height: 600px;
  border: 1px solid black;
}

.questions_container {
  width: 900px;
  height: 600px;
  border: 1px solid black;
}

.question {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  gap: 30px;
  background-color: #fff9e382;
  border-radius: 50px;
  border: none;
}

.input-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Creates two equal columns */
  gap: 1rem; /* Space between items */
}

.input-container-5 {
  grid-template-columns: repeat(3, 1fr); /* Creates two equal columns */
  gap: 1rem; /* Space between items */
}

.range-labels {
  text-align: center;
}
